<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" matInput placeholder="Username"
        pattern="^.{3,}$" required>
    </mat-form-field>
    <mat-form-field>
      <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput pattern="^.{4,16}$"
        [type]="hidePass ? 'password' : 'text'" placeholder="Password" required>
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button mat-raised-button color="primary" [disabled]="!signUpValidator()"
    (click)="data.dialogType === dialogType.SignUp ? signUp() : signIn()">{{title}}</button>
</div>