<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>

  <mat-card-content *ngIf="!showEdit">
    <p>{{comment.body}}</p>
  </mat-card-content>

  <div *ngIf="showEdit">
    <mat-divider></mat-divider>
    <mat-card class="post-create-container" *ngIf="currentUser">
      <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>
      <mat-card-content>
        <mat-form-field>
          <textarea [(ngModel)]="comment.body" matInput placeholder="Write something..."></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button color="primary" matTooltip="Update it" (click)="UpdateComment()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment(true)">
      <mat-icon matBadge="{{getLikes().length}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="getLikes().length === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likeComment(false)">
      <mat-icon matBadge="{{getDislikes()}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="getDislikes() === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleLikes()" *ngIf="!(getLikes().length === 0)">
      <mat-icon aria-label="Likes">details</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleEdit()" *ngIf="currentUser.id==comment.author.id">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" removeComment()"
      *ngIf="currentUser&&currentUser.id==comment.author.id">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-actions>

  <div *ngIf="showLikes">
    <mat-divider></mat-divider>
    <div class="likes" *ngFor="let reaction of getLikes()">
      <mat-card-header>
        <img mat-card-avatar src="{{reaction.user.avatar}}" alt="Avatar">
        <mat-card-title>{{reaction.user.userName}} </mat-card-title>
      </mat-card-header>
    </div>
  </div>
</mat-card>