<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likePost(true)">
      <mat-icon matBadge="{{getLikes().length}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getLikes().length === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="likePost(false)">
      <mat-icon matBadge="{{getDislikes()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getDislikes() === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleLikes()" *ngIf="!(getLikes().length === 0)">
      <mat-icon aria-label="Likes">details</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)=" SharePost()">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleEdit()" *ngIf="currentUser&&currentUser.id==post.author.id">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" removePost()" *ngIf="currentUser&&currentUser.id==post.author.id">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-actions>

  <div *ngIf="showLikes">
    <mat-divider></mat-divider>
    <div class="likes" *ngFor="let reaction of getLikes()">
      <mat-card-header>
        <img mat-card-avatar src="{{reaction.user.avatar}}" alt="Avatar">
        <mat-card-title>{{reaction.user.userName}} </mat-card-title>
      </mat-card-header>
    </div>
  </div>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser"
      (removeCommentEvent)="removeComment($event)"></app-comment>
  </div>


  <div *ngIf="showEdit">
    <mat-divider></mat-divider>
    <mat-card class="post-create-container" *ngIf="currentUser">
      <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>
      <mat-card-content>
        <mat-form-field>
          <textarea [(ngModel)]="this.updatePostData.body" matInput placeholder="Write something..."></textarea>
        </mat-form-field>
        <div class="image-container">
          <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
          <img mat-card-image class="post-image" *ngIf="this.updatePostData.previewImage" mat-card-image
            src="{{this.updatePostData.previewImage}}" alt="Photo">
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
        <button mat-icon-button color="accent" (click)="file.click()">
          <mat-icon aria-label="Choose an image">image</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Update it" (click)="updatePost()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>